APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TRIPAY_API_KEY=DEV-KShLNM9sMELK5xB71UiqlBtXmmYIlK57fZzS52Hv
TRIPAY_SECRET_KEY=mAwEZ-Bt4iu-srx9T-fqO1W-B4SGc
TRIPAY_MERCHANT_CODE=T29858

DIGIFLAZZ_USERNAME=xomekiDzrV7D
DIGIFLAZZ_API_KEY=dev-4406fdc0-00ed-11f0-be9e-35111299e2a9

PLATFORM_FEE=

BSCSCAN_API_KEY=WV8J8ADBEC25ZH9SBWQMA95X3Z9I3SWMHW
ETHERSCAN_API_KEY=
SOLSCAN_API_KEY=
IDR_API_KEY=jgf390qhf1ghnc216hicigcuda1r5pf1gm71npdo32fo6jcjnh8134o
METAMASK_PRIVATE_KEY=040cc95e7a51b4cc9aeb5b21a3e204e1cd9b21326e6e5672d17cc22be1483ab2
METAMASK_ETH_ADDRESS=0x369d5dca1e487e5be21ce4974e8a9e1a7bc68e67
METAMASK_BSC_ADDRESS=
METAMASK_SOL_ADDRESS=
